* {box-sizing: border-box;
	margin: 0;
	padding: 0;}
body {}

article {border: solid black 2px;
	width: 20%;
	height: 350px;
	margin: 15px;
	float: left;
	overflow: auto;
}
img {margin: 5%;
	width: 90%;
	border: solid black 1px;}
h2 {text-align: center;
	}
p {padding: 5px 20px;
	text-align: center;
	}
